# This is a heading. Put some text here to describe what the document is. Note that it is a markdown cell and the hash at the beginning notes it as a heading.

This is markdown. You can write in plain text here. Put a paragraph or two here explaining the purpose of this report and giving some introduction into what you are planning to do.

In [2]:
#this is a code cell. Write the code that you want to do things in it. Leave some comments with the code to 
#explain what you are doing, where appropriate. 

myfile='movie_metadata.csv'
#standard imports for when working with pandas
import numpy as np
%matplotlib inline
from matplotlib import pyplot as plt
import pandas as pd

myfile = 'movie_metadata.csv'

#read the movie metadata file into a dataframe in pandas.
df = pd.read_csv(myfile,index_col=None)

Here write the basic background to your exploration of the data. 

For example, a very brief explanation (you should explain to sufficient detail that a reader who knows nothing about the dataset understands what it is that you are doing): 

Here I sort the mean imdb score and budget across films by genre. Set a minimum imdb score and filter according to that. We are interested only in high scores so we are only looking at films with good ratings.

In [5]:
genreseries=df.groupby('genres')['imdb_score','budget'].mean()
#set the minimum imdb score that I care about to 8
min_imdb_score=8 
top_rated_genre = genreseries[genreseries['imdb_score']>min_imdb_score]
top_rated_genre = top_rated_genre.sort_values('imdb_score', ascending=False)
#print the genres for inspection
top_rated_genre.head()

                                              imdb_score      budget
genres
Action|Adventure|Crime|Drama|Sci-Fi|Thriller         8.8         NaN
Action|Adventure|Biography|Drama|History             8.6         NaN
Action|Drama|History|Thriller|War                    8.5   4400000.0
Adventure|Animation|Drama|Family|Musical             8.5  45000000.0
Crime|Drama|Fantasy|Mystery                          8.5  60000000.0

Explain what your findings are and what this means.

E.g. (again an over simple explanation):

There appears to be some well-rated genres that we could propose as better options to make a film. To examine if any of these good film genres can be made within our budget, I filtered by a maximum 500 000 and looked at the gross return.

In [6]:
#set the maximum possible budget to 500 000
max_budget = 500000
topgenreseries=df.groupby('genres')['imdb_score','budget','gross'].mean()
#find the details of films with less than the maximum budget
budget_genres = topgenreseries[topgenreseries['budget']<max_budget]
budget_genres = budget_genres.sort_values('imdb_score',ascending=False)
budget_genres.head()

                             imdb_score    budget      gross
genres
Documentary|Family                8.200  125000.0        NaN
Crime|Documentary                 8.000  200000.0  2156472.5
Documentary|History|Music         7.800  400000.0  6757592.5
Biography|Documentary|Music       7.525  300000.0  6531469.5
Biography|Documentary             7.300   25109.0   592014.0

The Documentary|Family genre seems to be well-rated and within our budget. Taking a look at the details more closely we can see that there is actually only one film that meets the criteria of budget and imdb rating:

In [4]:
df[df['genres']=='Documentary|Family']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4945,Color,Amal Al-Agroobi,NaN,62.0,58.0,NaN,NaN,NaN,NaN,Documentary|Family,...,NaN,Arabic,United Arab Emirates,NaN,125000.0,2013.0,NaN,8.2,NaN,54

Go on here and do further exploratory analyses and some appropriate statistical analyses on appropriate hypotheses...

# Summary

In the summary, summarise what you have done, starting with restating the purpose:

I examined the imdb data file to look for appropriate movies (again, use words appropriate in detail and content for what you have done).

Report what you did and what you found:

I examined the whether there was a specific genre of film that was generally well-rated and could be made within the proposed budget. I found that the films of the genre "Documentary and Family" met the criteria of budget and being well-rated. However, there was only one example of this type of film, so the inferences we can draw from this particular comparison are weak. (again, use text related to your analyses and hypotheses...)

The report required a conclusion. Give one with your caveats and justifications:

Based on the data analyses, I could recommend that the studio pursue making a film in the genre of family documentary in Arabic and releasing it in the United Arab Emirates market. However, as this conclusion is based upon a single film, it is not likely to be a good course of action.